* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*font-family: Arial, sans-serif;*/
    font-family: Consolas, monospace;
    /*background-color: black;*/
    background-color: rgb(200, 180, 150);;
    color: black; /* Optional: Change text color to white for better contrast */
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: rgb(82, 73, 61);
    background-color:rgb(200, 180, 150); /* #6b6464; */
    border: none;
    cursor: pointer;
    border: 1px solid rgb(147, 132, 110);;
}

/*
.button:hover {
    background-color: #5e5e5e;
}
*/

.button-row-buttons {
    display: flex;
    height: 15vh;
}

.button-row-title {
    display: flex;
    height: 10vh;
    font-weight: bold;
}

.button-row-text {
    display: flex;
    flex-grow: 8;
    color: black;
}

.button-col1 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.button-col2 {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.bttn_up {
    flex-grow: 1;
}

.bttn_down {
    flex-grow: 1;
}

.bttn_pause {
    flex-grow: 1;
}

.text{
    padding: 5vw;
    text-align: center;
}

